@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?g3h4qw');
  src:  url('./../fonts/icomoon.eot?g3h4qw#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?g3h4qw') format('truetype'),
    url('./../fonts/icomoon.woff?g3h4qw') format('woff'),
    url('./../fonts/icomoon.svg?g3h4qw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reddit .path1:before {
  content: "\e97c";
  color: rgb(255, 255, 255);
}
.icon-reddit .path2:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-reddit .path3:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reddit .path4:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reddit .path5:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-reddit .path6:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reddit .path7:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reddit .path8:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tem .path1:before {
  content: "\e951";
  color: rgb(255, 255, 255);
}
.icon-tem .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tem .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tem .path4:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-tem .path5:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tem .path6:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-tem .path7:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(30, 30, 30);
}
.icon-logo-reddit:before {
  content: "\e981";
}
.icon-apple:before {
  content: "\e95e";
}
.icon-google:before {
  content: "\e96a";
}
.icon-addCard:before {
  content: "\e975";
  color: #f3ba2f;
}
.icon-blacklist:before {
  content: "\e974";
  color: #a4a4a4;
}
.icon-no_info:before {
  content: "\e953";
  color: #ccc;
}
.icon-higher:before {
  content: "\e918";
  color: #666;
}
.icon-goole_svg:before {
  content: "\e954";
  color: #fff;
}
.icon-ID:before {
  content: "\e96e";
  color: #666;
}
.icon-cash:before {
  content: "\e971";
  color: #666;
}
.icon-recharge:before {
  content: "\e96f";
  color: #fff;
}
.icon-deal:before {
  content: "\e970";
  color: #fff;
}
.icon-record:before {
  content: "\e972";
  color: #fff;
}
.icon-withdraw:before {
  content: "\e973";
  color: #fff;
}
.icon-G2:before {
  content: "\e955";
  color: #999;
}
.icon-membership:before {
  content: "\e95f";
  color: #f3ba2f;
}
.icon-commission:before {
  content: "\e960";
  color: #f3ba2f;
}
.icon-seven:before {
  content: "\e961";
  color: #f3ba2f;
}
.icon-phone1:before {
  content: "\e962";
  color: #999;
}
.icon-phone2:before {
  content: "\e963";
  color: #999;
}
.icon-lock:before {
  content: "\e964";
  color: #999;
}
.icon-add-yellow:before {
  content: "\e96b";
  color: #f3ba2f;
}
.icon-upload:before {
  content: "\e96c";
  color: #f3ba2f;
}
.icon-add-member:before {
  content: "\e96d";
  color: #f3ba2f;
}
.icon-key:before {
  content: "\e965";
  color: #999;
}
.icon-key1:before {
  content: "\e966";
  color: #999;
}
.icon-user1:before {
  content: "\e967";
  color: #999;
}
.icon-mail:before {
  content: "\e968";
  color: #999;
}
.icon-no-data:before {
  content: "\e969";
  color: #999;
}
.icon-fault .path1:before {
  content: "\e95b";
  color: rgb(153, 153, 153);
}
.icon-fault .path2:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-fault .path3:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-no_commission:before {
  content: "\e956";
}
.icon-no_message:before {
  content: "\e957";
}
.icon-none:before {
  content: "\e958";
}
.icon-read-new:before {
  content: "\e959";
  color: #fff;
}
.icon-nomessage:before {
  content: "\e95a";
}
.icon-add_order:before {
  content: "\e952";
  color: #f3ba2f;
}
.icon-refresh:before {
  content: "\31";
  color: #eee;
}
.icon-warning:before {
  content: "\e943";
  color: #e13232;
}
.icon-green-gou:before {
  content: "\e950";
  color: #07d08b;
}
.icon-paypal:before {
  content: "\e912";
  color: #f4ea2a;
}
.icon-paper_clip:before {
  content: "\e913";
  color: #666;
}
.icon-sale .path1:before {
  content: "\e923";
  color: rgb(43, 154, 103);
}
.icon-sale .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path7:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path8:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path9:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path10:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(46, 152, 99);
}
.icon-sale .path11:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.icon-sale .path12:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(250, 250, 250);
}
.icon-sale .path13:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sale .path14:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-sale .path15:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-success-gou:before {
  content: "\e944";
  color: #07d08b;
}
.icon-e_-bambusa:before {
  content: "\e945";
  color: #ffd100;
}
.icon-member:before {
  content: "\e946";
  color: #f3ba2f;
}
.icon-recode:before {
  content: "\e947";
  color: #fff;
}
.icon-transaction_detail:before {
  content: "\e948";
  color: #fff;
}
.icon-male:before {
  content: "\e949";
  color: #fff;
}
.icon-female:before {
  content: "\e94a";
  color: #fff;
}
.icon-all-read:before {
  content: "\e94b";
  color: #fff;
}
.icon-delete:before {
  content: "\e94c";
  color: #fff;
}
.icon-withdrawal_to_upload:before {
  content: "\e94d";
  color: #fff;
}
.icon-wechat-pay:before {
  content: "\e94e";
  color: #41b035;
}
.icon-updown:before {
  content: "\e94f";
  color: #f3ba2f;
}
.icon-red-nosuccess:before {
  content: "\e911";
  color: #e13232;
}
.icon-edit:before {
  content: "\e915";
  color: #ccc;
}
.icon-wrong:before {
  content: "\e916";
  color: #b5b6ba;
}
.icon-export:before {
  content: "\e917";
  color: #fff;
}
.icon-phone:before {
  content: "\e919";
}
.icon-back-two:before {
  content: "\e91a";
}
.icon-back-one:before {
  content: "\e91b";
  color: #f4ea2a;
}
.icon-box:before {
  content: "\e91c";
}
.icon-box-gou:before {
  content: "\e91d";
  color: #f3ba2f;
}
.icon-set:before {
  content: "\e91e";
  color: #fff;
}
.icon-more-two:before {
  content: "\e91f";
  color: #ccc;
}
.icon-more-one:before {
  content: "\e920";
  color: #eee;
}
.icon-order:before {
  content: "\e921";
  color: #fff;
}
.icon-fire:before {
  content: "\e922";
  color: #d0111a;
}
.icon-no-message:before {
  content: "\e927";
  color: #eee;
}
.icon-hot-search:before {
  content: "\e928";
  color: #d0111a;
}
.icon-triangle-down:before {
  content: "\e929";
  color: #666;
}
.icon-up-white:before {
  content: "\e92a";
  color: #fff;
}
.icon-search:before {
  content: "\e92c";
  color: #fff;
}
.icon-add:before {
  content: "\e92e";
  color: #ccc;
}
.icon-logout:before {
  content: "\e92f";
  color: #fff;
}
.icon-success:before {
  content: "\e931";
  color: #1296db;
}
.icon-no-read:before {
  content: "\e932";
  color: #eee;
}
.icon-my-invite:before {
  content: "\e933";
  color: #fff;
}
.icon-info:before {
  content: "\e934";
  color: #fff;
}
.icon-read:before {
  content: "\e935";
  color: #eee;
}
.icon-card-white:before {
  content: "\e936";
  color: #fff;
}
.icon-card:before {
  content: "\e937";
  color: #d45858;
}
.icon-user:before {
  content: "\e938";
}
.icon-account:before {
  content: "\e939";
  color: #fff;
}
.icon-pay:before {
  content: "\e93a";
  color: #1296db;
}
.icon-wechat:before {
  content: "\e90f";
}
.icon-circle-line .path1:before {
  content: "\e905";
  color: rgb(108, 74, 0);
}
.icon-circle-line .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(108, 74, 0);
}
.icon-circle-line .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(108, 74, 0);
}
.icon-circle-line .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(108, 74, 0);
}
.icon-circle-line .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 209, 0);
}
.icon-circle-line .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 209, 0);
}
.icon-Facebook-icon:before {
  content: "\e900";
}
.icon-G:before {
  content: "\e901";
}
.icon-G2x:before {
  content: "\e914";
}
.icon-feixin:before {
  content: "\e902";
}
.icon-hdt:before {
  content: "\e903";
}
.icon-hs:before {
  content: "\e904";
  color: #f3ba2f;
}
.icon-select:before {
  content: "\e908";
  color: #999;
}
.icon-select-up:before {
  content: "\e909";
  color: #f3ba2f;
}
.icon-select-down:before {
  content: "\e90a";
  color: #f3ba2f;
}
.icon-se2x:before {
  content: "\e90c";
}
.icon-star:before {
  content: "\e910";
}
